@font-face {
    font-family: 'GameFont';
    src: url('CursedTimerUlil-Aznm.ttf');
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #1b244a;
    min-height: 50%;
    max-width: 70%;
    margin: 80px auto;
    padding: 20px 10px;
    border: 20px solid #9CA3AF;
    border-radius: 30%;
    overflow: auto;
}

.sides {
    margin-inline: 20px;
}

.board-title {
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5em;
    margin-bottom: 15px;
}

.points-text {
    color: #f94f6d;
    font-size: 4em;
    font-family: 'GameFont';
    background: #080001;
    padding: 20px;
    border-radius: 5px;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.increments-section {
    display: flex;
    justify-content: center;
}

.increments {
    border: 2px solid #9aadb8;
    border-radius: 5px;
    color: #9aadb8;
    background: none;
    margin: auto;
    padding-top: 10px;
    font-size: 1.5em;
    font-family: 'GameFont';
}

#new-game {
    position: absolute;
    top: 40em;
    text-align: center;
    background: #9aadb8;
    border-radius: 5px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    color: aliceblue;
}

.increments:hover, #new-game:hover {
    cursor: pointer;
}
